<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rami.dao.ClientMapperDao">

    <resultMap id="ClientResultMap" type="com.rami.vo.ClientVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="LAST_NAME" property="lastName" />
        <result column="ADDRESS" property="address" />
        <result column="ZIP_CODE" property="zipCode" />
        <result column="COUNTRY" property="country" />
    </resultMap>


    <select id="findClientById" resultMap="ClientResultMap">

        select * from CLIENT_DATA.CLIENTS WHERE id=#{id}

    </select>

    <select id="getAllClients" resultMap="ClientResultMap">

        select * from CLIENT_DATA.CLIENTS

    </select>

    <select id="getClientsByZipCode" resultMap="ClientResultMap">


        SELECT * FROM CLIENT_DATA.CLIENTS cl
        JOIN CLIENT_DATA.ZIP_CODE zi
        ON cl.ZIP_CODE=zi.ZIP_CODE
        WHERE cl.ZIP_CODE=#{zipCode}

    </select>

    <insert id="insertClient" parameterType="com.rami.vo.ClientVO" useGeneratedKeys="true" keyProperty="id">

        insert into CLIENT_DATA.CLIENTS(id,name,LAST_NAME,address,zip_code,country) values(#{id},#{name},#{lastName},#{address},#{zipCode},#{country})

    </insert>

    <update id="updateExistingClient" parameterType="com.rami.vo.ClientVO" useGeneratedKeys="true" keyProperty="id">
            UPDATE CLIENT_DATA.CLIENTS
            SET NAME=#{name},
            LAST_NAME=#{lastName},
            ADDRESS=#{address},
            ZIP_CODE=#{zipCode},
            COUNTRY=#{country}
            WHERE id=#{id}
    </update>

    <delete id="deleteExistingClient" parameterType="int" >
            DELETE FROM CLIENT_DATA.CLIENTS WHERE id=#{id}
    </delete>

</mapper>